html {
  height: 100%;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: #232323;
  color: white;
}

.nav-link.active {
  background-color: #3c76ae;
  color: white;
}

.nav-link {
  color: #3c76ae;
  font-weight: bolder;
}

#game-result .correct {
  color: green;
}

.hide {
  visibility: hidden;
}

.square {
  width: 30%;
  background-color: purple;
  padding-bottom: 30%;
  float: left;
  margin: 1.66%;
  border-radius: 1rem;
}

.color-container {
  max-width: 750px;
}

.fader {
  -moz-transition: opacity 0.4s linear;
  -o-transition: opacity 0.4s linear;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
}

.fader.fadedOut {
  opacity: 0;
}

.jumbotron {
  border-radius: 0;
}
